.login_box {
  display: flex;
  flex-direction: column;
  height: 757px;
  width: 505px;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #868686;
  border-radius: 10px;
  box-shadow: 0px 4px 64px #0000000d;
  height: 757px;
  width: 505px;
  padding: 36px 35px;
}

.login_welcome {
  color: #000;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 35px;
}

.login_title {
  color: #000;
  font-family: Pretendard;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 11px;
}

.login_description {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 53px;
}

.login_input {
  margin-bottom: 41px;
}

.login_register {
  margin-bottom: 20px;
}
