.login_box {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  background-color: #ffffff;
  border: 0.5px solid #868686;
  border-radius: 10px;
  box-shadow: 0px 4px 64px #0000000d;
  padding: 30px 30px;
  margin-right: 37px;
  margin-top: 44px;
}

.login_welcome,
.login_title,
.login_description {
  color: #000;
  font-family: Pretendard;
}

.login_welcome {
  font-size: 23px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 29px;
}

.login_title {
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 7px;
}

.login_description {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 39px;
}

.login_input {
  margin-bottom: 69.5px;
}

.login_register {
  margin-bottom: 18px;
}
