.input_id {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 79px;

  label {
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.input_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50.5px;
  background-color: #ffffff;
  border: 0.6px solid;
  border-color: #282828;
  border-radius: 6px;
  padding-inline: 21px;

  button {
    border: none;
    background-color: #ffffff00;
  }

  input {
    width: 90%;
    border: none;
    outline: none;
    background-color: #ffffff00;

    &::placeholder {
      color: #ababab;
      font-family: "Pretendard-Light", Helvetica;
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      position: fixed;
    }
  }
}

.input_box.invalid {
  border-color: #ff0000;
  background-color: #ffa8a866;
}
