.input_id {
  display: flex;
  height: 59px;
  background-color: #ffffff;
  border: 0.6px solid;
  border-color: #282828;
  border-radius: 6px;
  padding-inline: 27px;

  input {
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
      color: #ababab;
      font-family: "Pretendard-Light", Helvetica;
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      position: fixed;
    }
  }
}
